/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  margin-top: 30px;
  font-family: Roboto, Arial;
  color: white;
  font-size: 16px;
  background: linear-gradient( #ffbb80, #80FFB3);
  height: auto;
  min-height: 100%;
  background-attachment: fixed;
}

h1 {
  font-family: "Press Start 2P";
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
  margin: 20px 0px 10px 0px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  margin: 15px 0;
}

h3 {
  font-family: "Press Start 2P";
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  padding: 10px 0;
}

h4 {
  font-family: "Press Start 2P";
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}

.box-small h4 {
  width: 100%;
  text-align: center;
  padding: 15px 0px 0px 0px;
}

p {
  padding: 15px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  background-color: #ff80e5;
  box-shadow: 2px 2px 5px #523a4d;
  border-radius: 5px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header h1 {
  width: 100%;
  text-align: center;
}

.navbar .nav-list {
  width: 100%;
  margin: 0 auto;
  padding: 0px 0px 10px 0px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
}

.blog-header {
  width: 60%;
  margin: 10px auto;
  display: flex;
}

.blog-header span {
  background-color: #ff80e5;
  color: #ffffff;
  padding: 10px;
  width: 100%;
  text-align: center;
  box-shadow: 2px 2px 5px #523a4d;
  border-radius: 5px;
}

.blog-header h3 {
  background-color: #ff80e5;
  color: #ffffff;
  padding: 10px;
  width: 100%;
  text-align: center;
  box-shadow: 2px 2px 5px #523a4d;
  border-radius: 5px;
}

.blog-sub-header {
  width: 60%;
  margin: 0px auto;
  display: flex;
}

.blog-sub-header span {
  background-color: #ff80e5;
  color: #ffffff;
  padding: 10px;
  width: 100%;
  text-align: center;
  box-shadow: 2px 2px 5px #523a4d;
  border-radius: 5px;
}


.box-grid-1 {
  width: 60%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}

.box-big {
  background-color: #ff80e5;
  height: 400px;
  box-shadow: 2px 2px 5px #523a4d;
  border-radius: 5px;
}

.box-page {
  width: 60%;
  margin: 10px auto;
  background-color: #ff80e5;
  height: 400px;
  box-shadow: 2px 2px 5px #523a4d;
  border-radius: 5px;
}

.box-small-column {
  height: 400px;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
}

.box-grid-2 {
  width: 60%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.box-small {
  background-color: #ff80e5;
  height: 195px;
  box-shadow: 2px 2px 5px #523a4d;
  border-radius: 5px;
}

.box-small p {
  height: 110px;
}

.shape-row {
  position: fixed;
  top: 50px;
  left: 3.5vw;
  z-index: -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
}

.shape {
  width: 3vw;
  height: 3vw;
  border-radius: 25%;
  background-color: #B8E1FF;
  animation: rotate-color 10s infinite linear;
  
}

@keyframes rotate-color {
  0% {
    transform: rotate(0deg);
    background-color: #FFBB80;
  }
  33% {
    transform: rotate(360deg);
    background-color: #80CCFF;
  }
  66% {
    transform: rotate(720deg);
    background-color: #FF80E5;
  }
  100% {
    transform: rotate(1080deg);
    background-color: #FFBB80;
  }
}

@media screen and (max-width: 1100px) {
  .header {
width: 80%;
  }
}

@media screen and (max-width: 1100px) {
  .blog-header {
width: 80%;
  }
}

@media screen and (max-width: 1100px) {
  .box-grid-1 {
width: 80%;
  }
}

@media screen and (max-width: 1100px) {
  .box-grid-2 {
width: 80%;
  }
}

@media screen and (max-width: 1100px) {
  .blog-sub-header {
width: 80%;
  }
}

@media screen and (max-width: 1100px) {
  .box-page {
width: 80%;
  }
}
